{% extends 'base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md">
                <img alt="Image placeholder" src="assets/avatars/{{user.avatar_uri}}"
                     class="avatar avatar-xl rounded-circle">
                <h3 class="mb-0">
                    {{user.last_name}} {{user.first_name}}
                </h3>
                <!-- Subtitle -->
                <span class="text-muted d-block">
                    Статус<br>Название компании
                </span>
            </div>

            <div class="col-lg-9 col-md">
                <div class="row align-items-center mb-4">
                    <div class="col">
                        <h3 class="mb-0">Список моих тем</h3>
                    </div>
                    <button style="height:60px;width:300px" type="button" class="btn btn-primary hover-scale-110">
                        Добавить тему
                    </button>
                </div>

                {% for theme in themes %}
                <div class="card border-0">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="mb-2"><strong>{{ theme.title_ru }}</strong></h6>
                            </div>

                            <div class="col-auto ml-auto text-right">

                                <a href="assets/avatars/{{user.avatar_uri}}"
                                   class="text-reset" target="_blank">
                                    <div class="icon icon-sm icon-shape bg-soft-primary text-primary"
                                         data-content="Редактирование темы" data-placement="top"
                                         data-trigger="hover" data-toggle="popoverhover" data-original-title=""
                                         title="">
                                        <i class="fas fa-file-pdf"></i>
                                    </div>
                                </a>

                                <a href="assets/avatars/{{user.avatar_uri}}"
                                   class="text-reset" target="_blank">
                                    <div class="icon icon-sm icon-shape bg-soft-primary text-primary"
                                         data-content="Удаление темы" data-placement="top"
                                         data-trigger="hover" data-toggle="popoverhover" data-original-title=""
                                         title="">
                                        <i class="fas fa-file-pdf"></i>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <p class="card-text mb-2 text-sm"><strong>Описание:</strong> {{ theme.description }}</p>
                        <p class="card-text mb-2 text-sm"><strong>Требования:</strong> {{ theme.requirements }}</p>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}