{% extends 'base.html' %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}

<section>
    <div class = "container">
        <div class="row row-grid align-items-center" style="padding-top: 100px">
            <div class="col-12 col-md-6 col-lg-7 order-md-1 pr-md-5">
                <!-- Heading -->
                <h3 class="text-center text-md-left mb-3">
                    Сервис для предложения тем по учебным практикам и ВКР для студентов кафедры Системного программирования
                </h3>
            </div>

            <!--password reset form-->
            <div class="col-12 col-md-4 col-lg-4 order-md-2 ">
                <div>
                    <div class="mb-3 text-center">
                        <h6 class="h3 mb-1">Введите новый пароль</h6>
                    </div>

                    <form method="post">
                        <div class="form-group">
                            <div class="input-group input-group-merge">
                                <input type="password" class="form-control form-control-prepend" id="pass-res-1" name="pass-res-1" placeholder="********">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                                                        height="1em" viewBox="0 0 24 24" fill="none"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round" stroke-linejoin="round"
                                                                        class="feather feather-key"><path
                                            d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"></path></svg></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-4">
                            <div class="input-group input-group-merge">
                                <input type="password" class="form-control form-control-prepend" id="pass-res-2" name="pass-res-2" placeholder="********">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                                                        height="1em" viewBox="0 0 24 24" fill="none"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round" stroke-linejoin="round"
                                                                        class="feather feather-key"><path
                                            d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"></path></svg></span>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4">
                            <button type="submit" class="btn btn-block btn-primary">ok!</button>
                        </div>
                    </form>

                    <!-- Links -->
                    <div class="mt-4 text-center">
                        <a href="{{ url_for('index') }}" class="small font-weight-bold">Вернуться на главную страницу</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}